@import     "./partials/_variables.scss";
@import     "./partials/_reset.scss";
@import     "./partials/_fonts.scss";
@import     "./partials/_header.scss";
@import     "./partials/_main.scss";
@import     "./partials/_footer.scss";
@import     "./partials/_inicio.scss";
@import     "./partials/_contacto.scss";
@import     "./partials/_formacion.scss";
@import     "./partials/_proyectos.scss";
@import     "./partials/_titulos.scss";
@import     "./partials/_404.scss";
@import     "./partials/_media.scss";