footer {
  background-color: $color-principal;
  height: 200px;
  width: 100vw;
  display: block;
  position: relative;
  border-top: 6px solid $color-secundario;
  margin-top: 90px;
  margin-top: auto;

  .logos-redes {
    width: 40%;
    min-width: 400px;
    max-width: 550px;
    border-radius: 200px;
    border-top: 6px solid $color-secundario;
    background-color: $color-principal;
    display: flex;
    box-shadow: 0px 0px 30px #25282E;
    justify-content: space-between;
    padding: 45px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 50%;
    i {
      color: $color-secundario;
      display: block;
      width: 90px;
      height: 90px;
      max-width: 90px;
      max-height: 90px;
      font-size: 90px;
    }
  }
  p {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
  }
}

.contenedor-logo {
  position: relative;
  display: inline-block;
}

.contenedor-logo .contenedor-logo-texto {
  margin-bottom: 5p;
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 75%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.contenedor-logo:hover .contenedor-logo-texto {
  visibility: visible;
  opacity: 1;
}