.pagina {
    .presentacion{
        max-width: 1620px;
        width: 95%;
        height: 500px;
        display: flex;
        margin: auto;
        padding: 10px;
        justify-content: space-between;
        .contenidoPresentacion{
            height: 100%;
            width: 70%;
            max-width: 1000px;
            .contenidoPresentacionPrincipal{
                h1{
                    margin-bottom: 20px;
                    font-size: calc(25px + 1.1vw);
                }
                h2{
                    margin-bottom: 20px;
                    font-size: calc(18px + 1.1vw);
                }
                h3{
                    margin-bottom: 20px;
                    font-size: calc(18px + 1.1vw);
                    span{
                        margin-bottom: 20px;
                        color: #00FFFF;
                    }
                }
                p{
                    margin-bottom: 20px;
                    height: auto;
                    width: 90%;
                    max-width: 887px;
                    font-size: calc(15px + 1.1vw);
                }
            }
            .cvYRedes{
                max-width: 689px;
                width: 100%;
                height: 90px;
                margin: auto;
                .contenedorCvBotonDescarga{
                    height: 60px;
                    max-width: 320px;
                    width: 100%;
                    margin: auto;
                    a{
                        display: flex;
                        text-align: center;
                        border: 3px solid #00FFFF;
                        border-radius: 12px;
                        background-color: #444F68;
                        padding: 10px;
                        h3{
                            display: flex;
                            margin: auto;
                            font-size: 20px;
                        }
                    }
                }
            }
            
        }
        .fotoDePerfil{
            img{
                height: auto;
                width: 100%;
                max-width: 500px;
                border-radius: 270px;
                border: 5px solid #00FFFF;
                box-shadow: 0px 0px 30px #00FFFF;
            
            }
        }
    }
}