@media (max-width: 1150px){
    .portafolios-contenedor {
        margin-left: 20px;
    }
    .pagina{
        padding-bottom: 100px;
    }
    .heroPresentacion{
        height: 80%;
        width: 100%;
        display: flex;
        text-align: center;
        margin: auto;
    }
    .contenidoPresentacion{
        height: auto;
        margin: auto;
        max-width: none;
        width: 100%;
        text-align: center;
        p{
            max-width: none;
            width: 80%;
            margin: auto;
        }
    }
    .contenedorCvBotonDescarga{
        display: block;
        margin: auto;
        width: 50%;
        max-width: 2000px;      
        a{
            padding: 10px 20px;
            font-size: 40px;
            h3{
                font-size: 18px;
            }
        }
    }
    .presentacion{
        width: 100%;
        height: auto;
        display: block;
    }
    .cvYRedes{
        display: block;
        margin: auto;
        height: 60px;
        width: 100%;
        margin-bottom: 90px;
    }
    .fotoDePerfil{
        img{
            display: none;
        }
    }
    nav{
        #check{
            &:checked~ul{
                left: 0;
            }
        }
        .checkbtn {
            display: block;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: #444F68;
            top: 150px;
            left: -100%;
            text-align: center;
            transition: all .3s;
            z-index:100;
            li {
                width: 100%;
                height: 30px;
                display: block;
                margin: 50px 0;
                line-height: 30px;
                a {
                    font-size: 20px;
                    &:hover{
                        background: none;
                        color: #00FFFF;
                    }
                }
            }
        }
    }
    .portafolios-class{
        margin-left: 40px;
        display: block;
    }

    footer{
        .logos-redes{
            width: 30%;
            min-width: 300px;
            div{
                width: 60px;
                height: 60px;
            }
        }
    }
}