* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'OCR A Extended', sans-serif;
}

html {
    background-color: $color-fondo;
    background-image: url(/imgs/ruido-background-img.webp);
    background-size: cover;
    scroll-behavior: smooth;
    margin: auto;
    color: #ffffff;
    overflow-x: hidden;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
    color: white;
}

span {
    color: $color-secundario;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding-top: 75px;
}

::selection {
    background: #3c414b;
}

::-moz-selection {
    background: #3c414b;
}

.con-overflow-x{
    overflow-x: hidden !important;
}